In [19]:
import pandas as pd

In [20]:
from pymysql import connect
from sqlalchemy import create_engine

In [21]:
engine = create_engine('mysql+mysqlconnector://root:Admin123@localhost:3306/etlqalabsdb')
connection = engine.connect()
query='select * from student'
df = pd.read_sql(query,connection)

In [22]:
df

  STUDENT_NAME STUDENT_COLLEGE_NAME ADMISSION_DATE  GRAD_YEAR STUDENT_ID
0        LAVAN             ETLQALAB     2024-07-22       1999       None
1       CHENNA             ETLQALAB     2024-07-22       2022       None

In [23]:
df=pd.read_csv('emp_info.csv')

5

In [24]:
df.to_sql('employees_target', con=engine, if_exists='replace', index=False)

5